


<form 
action="/square/results">
<label for="alice"> Enter a number</label>
<div>
<input id="alice" type="text" name="number" placeholder="What number do you want to calculate?">
</div>
<button> Calculate square</button>

</form>
